/* Global Styles */
body {
    font-family:  'Poppins', sans-serif;
    background-color:linear-gradient(135deg, #4169e1, #ff69b4);
    color:linear-gradient(135deg, #4169e1, #ff69b4);
}
header {
    padding: 20px 20px;
    margin-top: 10px;
    justify-content: flex-start;
}

header .close {
    cursor: pointer;
}

.close {
    margin-bottom: auto;
}

.close svg {
    text-decoration: none;
    color: linear-gradient(135deg, #4169e1, #ff69b4);
}
/* Container Styling */
.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #b0c4de;
}

 img{
    align-items: center;
    justify-content: center;
    margin-left: 40%;
}
label {
    font-size: 16px;
    color: #4682b4;
    display: block;
   
}

/* Input Fields */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #b0c4de;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

/* Input Focus Effect */
input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #4682b4;
    outline: none;
    box-shadow: 0 0 8px rgba(70, 130, 180, 0.5);
}

/* Button Styling */
button {
    width: 100%;
    padding: 15px;
    background-color:#4169e1;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Button Hover Effect */
button:hover {
    background-color: linear-gradient(135deg, #4169e1, #ff69b4); /* Warna pink lebih cerah saat hover */
}

/* Logo Styling */
/* Heading Styling */
h1 {
    position: relative;
    color:  #4169e1; /* Warna teks */
    text-align: center;
}

h1::before {
    content: attr(data-text); 
    position: absolute;
    color: #4169e1;
    width: 10px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 1px solid #ffff;
    animation: animate 8s linear infinite;
    filter: drop-shadow(0 0 20px #fff) drop-shadow(0 0 50px #fff);
}

/* Keyframe Animation */
@keyframes animate {
    0%, 10%, 100% {
        width: 0;
    }
    10%, 90% {
        width:40%;
    }
}